ENV=dev
KRAKEND_PORT=8080
KRAKEND_METRIC_PORT=9091
FC_ENABLE=1
FC_OUT=/etc/krakend/output.json
FC_PARTIALS=/etc/krakend/partials
FC_SETTINGS=/etc/krakend/settings/dev
FC_TEMPLATES=/etc/krakend/templates