{{define "AssetAdditionService"}}
{
    "endpoint": "/api/asset-addition",
    "method": "GET",
    "output_encoding": "json",
    "extra_config": { {{include "jwt_validator.tmpl"}} },
    "input_headers": [
        "Authorization",
        "Content-Type"
    ],
    "backend": [
    {
        "url_pattern": "/api/v1/windows/asset-addition",
        "encoding": "json",
        "sd": "static",
        "method": "GET",
        "disable_host_sanitize": true
    }
    ],
    "input_query_strings": []
},
{
    "endpoint": "/api/asset-addition/{id}",
    "method": "GET",
    "output_encoding": "json",
    "extra_config": { {{include "jwt_validator.tmpl"}} },
    "input_headers": [
        "Authorization",
        "Content-Type"
    ],
    "backend": [
    {
        "url_pattern": "/api/v1/windows/asset-addition/{id}",
        "encoding": "json",
        "sd": "static",
        "method": "GET",
        "disable_host_sanitize": true
    }
    ],
    "input_query_strings": []
},
{
    "endpoint": "/api/asset-addition/tabs",
    "method": "GET",
    "output_encoding": "json",
    "extra_config": { {{include "jwt_validator.tmpl"}} },
    "input_headers": [
        "Authorization",
        "Content-Type"
    ],
    "backend": [
    {
        "url_pattern": "/api/v1/windows/asset-addition/tabs",
        "encoding": "json",
        "sd": "static",
        "method": "GET",
        "disable_host_sanitize": true
    }
    ],
    "input_query_strings": []
},
{
    "endpoint": "/api/asset-addition/fields",
    "method": "GET",
    "output_encoding": "json",
    "extra_config": { {{include "jwt_validator.tmpl"}} },
    "input_headers": [
        "Authorization",
        "Content-Type"
    ],
    "backend": [
    {
        "url_pattern": "/api/v1/windows/asset-addition/tabs/addition/fields",
        "encoding": "json",
        "sd": "static",
        "method": "GET",
        "disable_host_sanitize": true
    }
    ],
    "input_query_strings": []
},
{
    "endpoint": "/api/asset-addition",
    "method": "POST",
    "output_encoding": "json",
    "extra_config": { {{include "jwt_validator.tmpl"}} },
    "input_headers": [
        "Authorization",
        "Content-Type"
    ],
    "backend": [
    {
        "url_pattern": "/api/v1/windows/asset-addition",
        "encoding": "json",
        "sd": "static",
        "method": "POST",
        "disable_host_sanitize": true
    }
    ],
    "input_query_strings": []
},
{
    "endpoint": "/api/asset-addition/{id}",
    "method": "PUT",
    "output_encoding": "json",
    "extra_config": { {{include "jwt_validator.tmpl"}} },
    "input_headers": [
        "Authorization",
        "Content-Type"
    ],
    "backend": [
    {
        "url_pattern": "/api/v1/windows/asset-addition/tabs/asset-addition/{id}",
        "encoding": "json",
        "sd": "static",
        "method": "PUT",
        "disable_host_sanitize": true
    }
    ],
    "input_query_strings": []
},
{
    "endpoint": "/api/asset-addition/{id}",
    "method": "DELETE",
    "output_encoding": "json",
    "extra_config": { {{include "jwt_validator.tmpl"}} },
    "input_headers": [
        "Authorization",
        "Content-Type"
    ],
    "backend": [
    {
        "url_pattern": "/api/v1/windows/asset-addition/tabs/asset-addition/{id}",
        "encoding": "json",
        "sd": "static",
        "method": "DELETE",
        "disable_host_sanitize": true
    }
    ],
    "input_query_strings": []
}
{{ end }}