{{define "AssetService"}}
{
    "endpoint": "/api/assets",
    "method": "GET",
    "output_encoding": "json",
    "extra_config": { {{include "jwt_validator.tmpl"}} },
    "input_headers": [
        "Authorization",
        "Content-Type"
    ],
    "backend": [
    {
        "url_pattern": "/api/v1/windows/asset",
        "encoding": "json",
        "sd": "static",
        "method": "GET",
        "disable_host_sanitize": true
    }
    ],
    "input_query_strings": []
},
{
    "endpoint": "/api/assets/tabs",
    "method": "GET",
    "output_encoding": "json",
    "extra_config": { {{include "jwt_validator.tmpl"}} },
    "input_headers": [
        "Authorization",
        "Content-Type"
    ],
    "backend": [
    {
        "url_pattern": "/api/v1/windows/asset/tabs",
        "encoding": "json",
        "sd": "static",
        "method": "GET",
        "disable_host_sanitize": true
    }
    ],
    "input_query_strings": []
},
{
    "endpoint": "/api/assets/fields",
    "method": "GET",
    "output_encoding": "json",
    "extra_config": { {{include "jwt_validator.tmpl"}} },
    "input_headers": [
        "Authorization",
        "Content-Type"
    ],
    "backend": [
    {
        "url_pattern": "/api/v1/windows/asset/tabs/asset/fields",
        "encoding": "json",
        "sd": "static",
        "method": "GET",
        "disable_host_sanitize": true
    }
    ],
    "input_query_strings": []
},
{
    "endpoint": "/api/assets/{id}",
    "method": "GET",
    "output_encoding": "json",
    "extra_config": { {{include "jwt_validator.tmpl"}} },
    "input_headers": [
        "Authorization",
        "Content-Type"
    ],
    "backend": [
    {
        "url_pattern": "/api/v1/windows/asset/{id}",
        "encoding": "json",
        "sd": "static",
        "method": "GET",
        "disable_host_sanitize": true
    }
    ],
    "input_query_strings": []
},
{
    "endpoint": "/api/assets",
    "method": "POST",
    "output_encoding": "json",
    "extra_config": { {{include "jwt_validator.tmpl"}} },
    "input_headers": [
        "Authorization",
        "Content-Type"
    ],
    "backend": [
    {
        "url_pattern": "/api/v1/windows/asset",
        "encoding": "json",
        "sd": "static",
        "method": "POST",
        "disable_host_sanitize": true
    }
    ],
    "input_query_strings": []
},
{
    "endpoint": "/api/assets/{id}",
    "method": "PUT",
    "output_encoding": "json",
    "extra_config": { {{include "jwt_validator.tmpl"}} },
    "input_headers": [
        "Authorization",
        "Content-Type"
    ],
    "backend": [
    {
        "url_pattern": "/api/v1/windows/asset/tabs/asset/{id}",
        "encoding": "json",
        "sd": "static",
        "method": "PUT",
        "disable_host_sanitize": true
    }
    ],
    "input_query_strings": []
},
{
    "endpoint": "/api/assets/{id}",
    "method": "DELETE",
    "output_encoding": "json",
    "extra_config": { {{include "jwt_validator.tmpl"}} },
    "input_headers": [
        "Authorization",
        "Content-Type"
    ],
    "backend": [
    {
        "url_pattern": "/api/v1/windows/asset/tabs/asset/{id}",
        "encoding": "json",
        "sd": "static",
        "method": "DELETE",
        "disable_host_sanitize": true
    }
    ],
    "input_query_strings": []
}
{{end}}