{{define "Endpoint"}}

{{$service := .}}

{{ template "AuthService" $service.auth }},
{{ template "AssetService" $service.asset }},
{{ template "ProductService" $service.product }},
{{ template "GeneralService" $service.general }},
{{ template "WindowService" $service.window }}

{{end}}