{{define "WindowService"}}
{
    "endpoint": "/api/{window}",
    "method": "GET",
    "extra_config": { {{template "validator_token.tmpl"}} },
    "input_headers": [
        "Authorization",
        "Content-Type"
    ],
    "backend": [
    {
        "url_pattern": "/api/v1/windows/{window}",
        "encoding": "json",
        "sd": "static",
        "method": "GET",
        "disable_host_sanitize": true
    }
    ],
    "input_query_strings": [
        "$select"
    ]
},
{
    "endpoint": "/api/{window}/{id}",
    "method": "GET",
    "extra_config": { {{template "validator_token.tmpl"}} },
    "input_headers": [
        "Authorization",
        "Content-Type"
    ],
    "backend": [
    {
        "url_pattern": "/api/v1/windows/{window}/{id}",
        "encoding": "json",
        "sd": "static",
        "method": "GET",
        "disable_host_sanitize": true
    }
    ],
    "input_query_strings": [
         "$select"
    ]
},
{
    "endpoint": "/api/{window}/{id}/print",
    "method": "GET",
    "extra_config": { {{template "validator_token.tmpl"}} },
    "input_headers": [
        "Authorization",
        "Content-Type"
    ],
    "backend": [
    {
        "url_pattern": "/api/v1/windows/{window}/{id}/print",
        "encoding": "json",
        "sd": "static",
        "method": "GET",
        "disable_host_sanitize": true
    }
    ],
    "input_query_strings": [
        "$report_type"
    ]
},
{
    "endpoint": "/api/{window}/tabs",
    "method": "GET",
    "extra_config": { {{template "validator_token.tmpl"}} },
    "input_headers": [
        "Authorization",
        "Content-Type"
    ],
    "backend": [
    {
        "url_pattern": "/api/v1/windows/{window}/tabs",
        "encoding": "json",
        "sd": "static",
        "method": "GET",
        "disable_host_sanitize": true
    }
    ],
    "input_query_strings": []
},
{
    "endpoint": "/api/{window}/tabs/{tab}/fields",
    "method": "GET",
    "extra_config": { {{template "validator_token.tmpl"}} },
    "input_headers": [
        "Authorization",
        "Content-Type"
    ],
    "backend": [
    {
        "url_pattern": "/api/v1/windows/{window}/tabs/{tab}/fields",
        "encoding": "json",
        "sd": "static",
        "method": "GET",
        "disable_host_sanitize": true
    }
    ],
    "input_query_strings": []
},
{
    "endpoint": "/api/{window}",
    "method": "POST",
    "extra_config": { {{template "validator_token.tmpl"}} },
    "input_headers": [
        "Authorization",
        "Content-Type"
    ],
    "backend": [
    {
        "url_pattern": "/api/v1/windows/{window}",
        "encoding": "json",
        "sd": "static",
        "method": "POST",
        "disable_host_sanitize": true
    }
    ],
    "input_query_strings": []
},
{
    "endpoint": "/api/{window}/tabs/{tab}/{id}",
    "method": "PUT",
    "extra_config": { {{template "validator_token.tmpl"}} },
    "input_headers": [
        "Authorization",
        "Content-Type"
    ],
    "backend": [
    {
        "url_pattern": "/api/v1/windows/{window}/tabs/{tab}/{id}",
        "encoding": "json",
        "sd": "static",
        "method": "PUT",
        "disable_host_sanitize": true
    }
    ],
    "input_query_strings": []
},
{
    "endpoint": "/api/{window}/tabs/{tab}/{id}",
    "method": "DELETE",
    "extra_config": { {{template "validator_token.tmpl"}} },
    "input_headers": [
        "Authorization",
        "Content-Type"
    ],
    "backend": [
    {
        "url_pattern": "/api/v1/windows/{window}/tabs/{tab}/{id}",
        "encoding": "json",
        "sd": "static",
        "method": "DELETE",
        "disable_host_sanitize": true
    }
    ],
    "input_query_strings": []
}
{{ end }}